.card {
	box-shadow: 20px 30px 80px 0px rgb(110, 110, 110, 0.1);
	background: #fff;
	display: flex;
	flex-direction: column;

	width: 306px;
	height: 373px;
	&.card_wide {
		width: 636px;
		height: 450px;

		.card_image_wrapper,
		.preview_image {
			min-height: 298px !important;
		}
	}

	.card_image_wrapper {
		min-height: 180px;
		position: relative;

		.preview_image {
			width: 100%;
			height: 100%;
			min-height: 180px;
			object-fit: cover;
		}

		.image_skeleton_loader {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			content: '';

			&:not(.loader_scrim) {
				background: #acacac;

				&.animate {
					animation: solid-breathe 3s ease-out infinite;
				}

				@keyframes solid-breathe {
					0% {
						filter: brightness(1);
					}
					25% {
						filter: brightness(1.3);
					}
					50% {
						filter: brightness(1.1);
					}
					75% {
						filter: brightness(1.2);
					}
					100% {
						filter: brightness(1);
					}
				}
			}

			&.loader_scrim {
				background: linear-gradient(to top, #3a3e42, #d9d9d9 98%);

				&.animate {
					background-size: 200% 200%;
					animation: gradient-breathe 2s ease-in-out infinite;
				}

				@keyframes gradient-breathe {
					0% {
						background-position: 50% 50%;
					}
					25% {
						background-position: 100% 100%;
					}
					50% {
						background-position: 60% 60%;
					}
					75% {
						background-position: 65% 65%;
					}
					100% {
						background-position: 50% 50%;
					}
				}
			}
		}

		// A scrim gradient is a semi-transparent color layer that fades in or out over an image, often used to enhance readability or create a specific visual style
		// https://swiftuisnippets.wordpress.com/2024/07/18/adding-a-scrim-gradient-overlay-to-images-with-swift/
		// https://medium.com/@designwithkabi/ux-drill-03-what-is-a-scrim-0b37dc1e025e
		// https://www.slrlounge.com/glossary/scrim-definition/
		.scrim {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.6), #0000 74%);
		}

		.top_left {
			position: absolute;
			top: 0;
			left: 0;
		}
		.top_right {
			position: absolute;
			top: 0;
			right: 0;
		}
		.bottom_left {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.bottom_right {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

.badge {
	margin: 24px 0 0 24px;
	padding: 4px 16px;
	background: rgb(26, 25, 25, 0.4);
	border: 1px solid #fff;
	border-radius: 100vw;
	* {
		color: #fff;
	}
}

.bookmark_icon_wrapper {
	height: 40px;
	width: 40px;
	margin: 12px 12px 0 0;
	border-radius: 100vw;
	background: rgba(0, 0, 0, 0.26); // rgba(0, 0, 0, 0.4) ??
	display: flex;
	justify-content: center;
	align-items: center;

	* {
		height: 24px;
		width: 24px;
		filter: invert(100%) brightness(1000%) contrast(100%);
	}
}

.card_time {
	padding: 4.5px 12px;
	display: flex;
	align-items: center;
	gap: 8px;
	border-top-left-radius: 12px;
	background: #fff;

	.timer_icon {
		filter: invert(12%) sepia(66%) saturate(2380%) hue-rotate(347deg) brightness(96%) contrast(96%);

		&,
		* {
			height: 24px;
			width: 24px;
		}
	}
}

.card_main {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 16px 16px 20px 16px;
	gap: 8px;

	.card_info_wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;

		.card_details {
			display: flex;
			justify-content: space-between;

			.dollar_sign {
				font-weight: 500;
			}
			.card_mass {
				display: flex;
				align-self: center;
				* {
					color: color.$text-subtitle;
				}
			}
		}
	}

	.card_button {
		border-radius: 100vw;
		width: 100%;
		padding: 12px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;

		background: #fafafa;
		border: 2px solid #efefef;
	}
}
