// main wrapper

.card {
	box-shadow: 20px 30px 80px 0px rgb(110, 110, 110, 0.1);
	background: #fff;
	display: flex;
	flex-direction: column;

	width: fit-content;
	height: fit-content;
}

// top part of a card (preview image)

.card_image_wrapper {
	position: relative;

	.preview_image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.image_skeleton_loader {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';

		&:not(.loader_scrim) {
			background: #acacac;

			&.animate {
				animation: solid-breathe 3s ease-out infinite;
			}

			@keyframes solid-breathe {
				0% {
					filter: brightness(1);
				}
				25% {
					filter: brightness(1.3);
				}
				50% {
					filter: brightness(1.1);
				}
				75% {
					filter: brightness(1.2);
				}
				100% {
					filter: brightness(1);
				}
			}
		}

		&.loader_scrim {
			background: linear-gradient(to top, #3a3e42, #d9d9d9 98%);

			&.animate {
				background-size: 200% 200%;
				animation: gradient-breathe 2s ease-in-out infinite;
			}

			@keyframes gradient-breathe {
				0% {
					background-position: 50% 50%;
				}
				25% {
					background-position: 100% 100%;
				}
				50% {
					background-position: 60% 60%;
				}
				75% {
					background-position: 65% 65%;
				}
				100% {
					background-position: 50% 50%;
				}
			}
		}
	}

	// A scrim gradient is a semi-transparent color layer that fades in or out over an image, often used to enhance readability or create a specific visual style
	// https://swiftuisnippets.wordpress.com/2024/07/18/adding-a-scrim-gradient-overlay-to-images-with-swift/
	// https://medium.com/@designwithkabi/ux-drill-03-what-is-a-scrim-0b37dc1e025e
	// https://www.slrlounge.com/glossary/scrim-definition/
	.scrim {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.6), #0000 74%);
	}
}

// topLeft

.top_left {
	position: absolute;
	top: 0;
	left: 0;
}

.badge {
	margin: 24px;
	padding: 4px 16px;
	background: rgb(26, 25, 25, 0.4);
	border: 1px solid #fff;
	border-radius: 100vw;
	* {
		color: #fff;
	}
}

// topRight

.top_right {
	position: absolute;
	top: 0;
	right: 0;
}

.bookmark_icon_wrapper {
	height: 40px;
	width: 40px;
	margin: 12px;
	border-radius: 100vw;
	background: rgba(0, 0, 0, 0.26); // rgba(0, 0, 0, 0.4) ??
	display: flex;
	justify-content: center;
	align-items: center;

	* {
		height: 24px;
		width: 24px;
		filter: invert(100%) brightness(1000%) contrast(100%);
	}
}

// bottomLeft

.bottom_left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.image_caption {
	padding: 24px;
	display: flex;
	flex-direction: column;
	* {
		color: #fff;
	}
}

// well, not only used in corner of preview block, but also in the main content. so unifying them, cuz mostly the same and merging style definition
.label_reading_time {
	@extend .label;

	&.on_background {
		gap: 10px;
		padding: 24px;
		* {
			color: color.$text-secondary;
		}
		img {
			filter: invert(100%) brightness(1000%) contrast(100%);
		}
	}
}

// bottomRight

.bottom_right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.card_time {
	padding: 4.5px 12px;
	display: flex;
	align-items: center;
	gap: 8px;
	border-top-left-radius: 12px;
	background: #fff;
	margin-bottom: -2px; // adjust for browser zooming https://i.imgur.com/z7hHXtT.png

	img {
		height: 24px;
		width: 24px;
		filter: invert(12%) sepia(66%) saturate(2380%) hue-rotate(347deg) brightness(96%) contrast(96%);
	}
}

.button_preview {
	margin: 24px;

	* {
		height: 32px;
		width: 32px;
		filter: invert(100%) brightness(1000%) contrast(100%);
	}
}

// labels for main content

.card_bookmarked .label img {
	height: 20px;
	width: 20px;
}
.label {
	display: flex;
	gap: 8px;
	align-items: center;

	* {
		line-height: 1;
	}
	img {
		align-self: start;
		height: 28px;
		width: 28px;
		filter: invert(12%) sepia(66%) saturate(2380%) hue-rotate(347deg) brightness(96%) contrast(96%);
	}
	.text_filters * {
		color: color.$text-filters;
	}
}

.label_event_range {
	@extend .label;

	.valid_until_date {
		display: flex;
		gap: 8px;
	}
}
.label_location {
	@extend .label;
}
.label_rating {
	@extend .label;

	> * {
		display: flex;
		gap: 6px;
	}
	.rating * {
		font-weight: bold;
	}
	.reviews * {
		color: color.$text-subtitle;
	}
	* {
		font-size: 20px;
	}
	img {
		height: 20px;
		width: 20px;
		filter: none;
	}
}
.label_date {
	@extend .label;
}

// main content

.card_wide .card_content {
	gap: 12px;
	@media (min-width: 1080px) {
		padding: 20px 24px;
	}
}
.card_content {
	gap: 8px;
	padding: 16px 16px 20px 16px;

	&_product,
	& {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	// variants

	&:has(&_sale) > span:not(&_sale),
	&:has(&_event) > span:not(&_event) {
		@extend .limit1;
	}
	&_sale,
	&_event {
		display: flex;
		flex-direction: column;
		margin: auto 0;

		gap: 10px;
	}

	&_company {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.labels_wrapper {
			display: flex;
			flex-direction: row;
			gap: 24px;
		}
	}

	&:has(&_article) {
		gap: 8px;
	}
	&_article * {
		@extend .limit2;
		font-size: 20px;
	}

	&:has(&_news) {
		flex-direction: column-reverse;
		justify-content: start;
		gap: 16px;
	}
	&:has(&_news) > span:not(&_news) {
		@extend .limit2;
	}
	&_news {
		display: flex;
		gap: 30px;
	}

	&:has(&_product) > span:not(&_product) {
		@extend .limit2;
	}
	&_product {
		gap: 24px;
		justify-content: space-between;

		.card_details {
			display: flex;
			justify-content: space-between;

			.dollar_sign {
				font-weight: 500;
			}
			.card_mass {
				display: flex;
				align-self: center;
				* {
					color: color.$text-subtitle;
				}
			}
		}

		.card_button {
			border-radius: 100vw;
			width: 100%;
			padding: 12px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;

			background: #fafafa;
			border: 2px solid #efefef;
		}
	}
}

.limit {
	overflow: hidden;
	text-overflow: ellipsis;
}
.limit1 {
	@extend .limit;
	white-space: nowrap;
}
.limit2 {
	@extend .limit;
	height: 100%;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
