$text-heading: #0d1820;
$text-main: #0d1820cc;
$text-subtitle: #acacac;
$text-component: #262626;

$text-secondary: #f9f9f9;
$text-filters: #7a7a7a;

$hr-primary: #d9d9d9;
$hr-secondary: #efefef;

$button-bg: #1a1919;
$button-bg-contrast: #fff;
$button-bg-disabled: #e0dfdf;

$accent: #ba3127;
$accent-bg: #6b1d13;

$gradient-accent: linear-gradient(to right, $accent-bg, $accent);
