.heading1 {
	font: 600 64px/130% var(--font-gilroy);
	// e5e5e5
	color: #1a1a1a;
}

.heading2 {
	font: 500 56px/130% var(--font-gilroy);
	color: #1a1a1a;
}

.heading3 {
	font: 500 48px/120% var(--font-gilroy);
	color: #1a1a1a;
}

.heading4 {
	font: 500 32px/110% var(--font-gilroy);
	color: #1a1a1a;
}

.heading5 {
	font: 500 24px/130% var(--font-gilroy);
	color: #1a1a1a;
}

.textMain {
	font: 400 18px/140% var(--font-nunito-sans);
	color: #1a1a1a;
}

.regularNavigation {
	font: 400 18px/143% var(--font-nunito-sans);
	color: #1a1a1a;
}

.activeNavigation {
	font: 500 18px/143% var(--font-nunito-sans);
	color: #1a1a1a;
}

.textButton {
	font: 600 18px/150% var(--font-nunito-sans);
	color: #1a1a1a;
}

.textOfElements {
	font: 400 20px/150% var(--font-nunito-sans);
	color: #1a1a1a;
}

.cardContent {
	font: 400 16px/160% var(--font-nunito-sans);
	color: #1a1a1a;
}

.subtitle {
	font: 400 18px/140% var(--font-nunito-sans);
	color: #1a1a1a;
}

.cardTitle {
	font: 500 20px/120% var(--font-gilroy);
	color: #1a1a1a;
}

.small {
	font: 400 14px/148% var(--font-gilroy);
	color: #1a1a1a;
}
