.heading1 {
	font: 600 32px/143% var(--font-gilroy);
	color: #1a1a1a; // #e5e5e5
	@media (min-width: 1080px) {
		font: 600 64px/130% var(--font-gilroy);
	}
}

.heading2 {
	font: 500 28px/126% var(--font-gilroy);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 500 56px/130% var(--font-gilroy);
	}
}

.heading3 {
	font: 500 24px/134% var(--font-gilroy);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 500 48px/120% var(--font-gilroy);
	}
}

.heading4 {
	font: 500 20px/130% var(--font-gilroy);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 500 32px/110% var(--font-gilroy);
	}
}

.heading5 {
	font: 500 18px/130% var(--font-gilroy);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 500 24px/130% var(--font-gilroy);
	}
}

.textMain {
	font: 400 16px/140% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 400 18px/140% var(--font-nunito-sans);
	}
}

.regularNavigation {
	font: 400 14px/143% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 400 18px/143% var(--font-nunito-sans);
	}
}

.activeNavigation {
	font: 500 14px/143% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 500 18px/143% var(--font-nunito-sans);
	}
}

.textButton {
	font: 600 16px/150% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 600 18px/150% var(--font-nunito-sans);
	}
}

.textOfElements {
	font: 600 16px/150% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 400 20px/150% var(--font-nunito-sans);
	}
}

.cardContent {
	font: 400 14px/140% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 400 16px/160% var(--font-nunito-sans);
	}
}

.subtitle {
	text-transform: uppercase;
	font: 500 16px/140% var(--font-nunito-sans);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 400 18px/140% var(--font-nunito-sans);
	}
}

.cardTitle {
	font: 500 18px/140% var(--font-gilroy);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 500 20px/120% var(--font-gilroy);
	}
}

.small {
	font: 400 14px/148% var(--font-gilroy);
	color: #1a1a1a;
	@media (min-width: 1080px) {
		font: 400 14px/148% var(--font-gilroy);
	}
}
